@import "../variables.scss";

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1em 3em;
  color: $body-light;
  @include horizontal-gradient($background-light, $background-dark);
  strong {
    color: $highlight;
  }
}
