.createRoster {
  text-align: center; }
  .createRoster .form-block {
    border: 1px solid #3ee33e; }
  .createRoster input {
    display: inline-block;
    margin: 1em auto; }
  .createRoster .attr {
    width: 3em; }
