@import "../variables.scss";

.createRoster {
  text-align: center;
  .form-block {
    border: 1px solid #3ee33e;
  }
  input {
    display: inline-block;
    margin: 1em auto;
  }
  .attr {
    width: 3em;
  }
}
