@import "../variables.scss";

.playerInput {
  border: 2px solid #3ee33e;
  input {
    margin: .25em;
  }
  .attr {
    width: 4em;
  }
  .errorMessage {
    width: 2em;
    visibility: hidden;
    img {
      width: 1.5em;
    }
  }
}
.error {
  input {
    background: $error;
  }
  .tooltip {
    visibility: visible;
    cursor: pointer;
    position: relative;
    display: inline-block;
  }
  .tooltip .tooltiptext {
      visibility: hidden;
      width: 25em;
      top: 100%;
      left: 50%;
      margin-left: -23.5em;
      background-color: $body-dark;
      color: $body-light;
      text-align: center;
      padding: 1em;
      border-radius: .5em;
      position: absolute;
      z-index: 1;
      box-shadow: 5px 5px 5px $background-dark;
  }
  .tooltip:hover .tooltiptext {
      visibility: visible;
  }
}
