.playerInput {
  border: 2px solid #3ee33e; }
  .playerInput input {
    margin: .25em; }
  .playerInput .attr {
    width: 4em; }
  .playerInput .errorMessage {
    width: 2em;
    visibility: hidden; }
    .playerInput .errorMessage img {
      width: 1.5em; }

.error input {
  background: #c24242; }

.error .tooltip {
  visibility: visible;
  cursor: pointer;
  position: relative;
  display: inline-block; }

.error .tooltip .tooltiptext {
  visibility: hidden;
  width: 25em;
  top: 100%;
  left: 50%;
  margin-left: -23.5em;
  background-color: #384E5E;
  color: #c3d2db;
  text-align: center;
  padding: 1em;
  border-radius: .5em;
  position: absolute;
  z-index: 1;
  box-shadow: 5px 5px 5px #232a2f; }

.error .tooltip:hover .tooltiptext {
  visibility: visible; }
