* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  font-family: 'Quicksand', sans-serif; }

a {
  text-decoration: none; }
  a:hover {
    color: #AEE173; }

.app {
  display: flex;
  flex-direction: row; }

main {
  width: 100vw;
  min-height: 100vh;
  padding: 3em;
  background: rgba(64, 95, 115, 0.6); }

input, button, select {
  font-size: 1.25rem;
  padding: .5rem;
  height: 2.5rem; }
