@import "../variables.scss";

.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 3em;
  h3 {
    width: 100%;
    text-align: center;
    font-size: 3em;
    color: $highlight;
    margin: 0;
    padding: 0;
  }
  p {
    font-size: 1.5em;
  }
}
