.rosters {
  width: 80%;
  margin: auto;
  text-align: center; }
  .rosters .roster {
    display: grid;
    grid-template-areas: "title buttons" "table table"; }
    .rosters .roster table {
      width: 100%;
      grid-area: table;
      text-align: center;
      margin-bottom: 4rem; }
      .rosters .roster table .roles {
        padding-top: 2rem;
        text-align: left;
        color: #F6D22F;
        font-size: 1.12rem; }
    .rosters .roster button {
      width: 8rem;
      margin: 1rem; }
    .rosters .roster .rosterName {
      grid-area: title; }
    .rosters .roster .buttonArea {
      grid-area: buttons;
      display: flex;
      align-items: center;
      justify-content: flex-end; }
  .rosters .addButton {
    min-width: 20rem;
    margin: auto; }
