@import "../variables.scss";

.rosters {
  width: 80%;
  margin: auto;
  text-align: center;
  .roster {
    display: grid;
    grid-template-areas: "title buttons" "table table";
    table {
      width: 100%;
      grid-area: table;
      text-align: center;
      margin-bottom: 4rem;
      .roles {
        padding-top: 2rem;
        text-align: left;
        color: $highlight;
        font-size: 1.12rem;
      }
    }
    button {
      width: 8rem;
      margin: 1rem;
    }
    .rosterName {
      grid-area: title;
    }
    .buttonArea {
      grid-area: buttons;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
  .addButton {
    min-width: 20rem;
    margin: auto;
  }
}
